<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @cafeterium.item_name %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @cafeterium.item_description %>
</p>

<p>
  <strong>Item price:</strong>
  <%= @cafeterium.item_price %>
</p>

<p>
  <strong>Cafeteria category:</strong>
  <%= @cafeterium.cafeteria_category_id %>
</p>

<%= link_to 'Edit', edit_cafeterium_path(@cafeterium) %> |
<%= link_to 'Back', cafeteria_path %>
